* {
  font-family: 'Cabin', sans-serif;
}

.section {
  padding-top: 6rem;
}

h1.page-title {
  font-size: 3rem;
}

h1.title {}

h1.title svg {
  position: relative;
  top: 4px;
}

.about-text p {
  margin-bottom: .5rem;
}

.sub-section {
  padding: 1.5rem 0;
}

.nav-container {
  position: fixed;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  background: white;
}

.navbar-menu {
  box-shadow: none;
}

.main-container {
  min-height: 100vh;
  padding-bottom: 316px;
  margin-bottom: -316px;
}

@media screen and (max-width: 768px) {
  .links {
    display: flex;
    justify-content: center;
  }
}

.links a {
  padding-right: 1.5rem;
  color: gray;
}

.links a:hover, .links a:focus {
  color: #3273dc;
}

.hero {
  background: WhiteSmoke!important;
}

.portrait-col {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .portrait-col {
    margin-right: 0;
    display: block; 
    width: 100%;
  }
}

.portrait {
  width: 400px;
  border-radius: 400px;
  margin: 0 auto;
  display: block;
  border: 8px solid white;
}

.product-img-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.product-img {
  border: 1px solid silver;
  margin: 0 1rem 1rem 0;
}

.sub-section.reverse .columns {
  flex-direction: row-reverse;
}

.technologies {
  display: flex; 
  padding: 1rem 0;
  justify-content: left;
  flex-wrap: wrap;
}

.technologies li { 
  font-weight: bold;
  padding: .25rem 1rem;
  margin-right: .25rem;
  background: whitesmoke;
  border-radius: 4px;
  display: flex;
  margin-bottom: .5rem;
  justify-content: space-between;
}

#testimonials .sub-section {
  background: WhiteSmoke;
  position: relative;
  padding: 3rem;
}

#testimonials .sub-section svg {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

#testimonials p {
  margin-bottom: 2rem;
}


.footer {
  background: WhiteSmoke;
}

.footer .links {
  display: flex; 
  justify-content: center; 
}

.footer .links a {
  padding: .75rem;
}

@media screen and (max-width: 768px) {
  .portrait {
    margin: 0 auto;
    width: 300px;
    display: block;
  }
  .hero h1, .hero .subtitle {
    text-align: center; 
  }
}